:root {
	--border-image-radius-small-radius: 12px;
	--border-image-radius-small-width: var(--border-width);
	--border-image-radius-small-color: var(--general-color-4);
	--border-image-radius-small-style: solid;
	--border-hero-radius: 2rem;
	--border-hero-width: 0px;
	--border-hero-color: undefined;
	--border-hero-style: solid;
	--border-button-primary-radius: 9999px;
	--border-button-primary-width: 0px;
	--border-button-primary-color: undefined;
	--border-button-primary-style: solid;
	--border-button-secondary-radius: 9999px;
	--border-button-secondary-width: var(--border-width);
	--border-button-secondary-color: var(--general-color-4);
	--border-button-secondary-style: solid;
	--border-container-radius: 16px;
	--border-container-width: var(--border-width);
	--border-container-color: var(--general-color-4);
	--border-container-style: solid;
	--border-card-radius: var(--card-corner);
	--border-card-width: 1px;
	--border-card-color: var(--general-color-5);
	--border-card-style: solid;
	--border-card-1-radius: var(--card-corner-1);
	--border-card-1-width: var(--border-width);
	--border-card-1-color: var(--general-color-5);
	--border-card-1-style: solid;
	--border-card-2-radius: var(--card-corner-2);
	--border-card-2-width: var(--border-width);
	--border-card-2-color: var(--general-color-5);
	--border-card-2-style: solid;
	--border-card-3-radius: var(--card-corner-3);
	--border-card-3-width: var(--border-width);
	--border-card-3-color: var(--general-color-5);
	--border-card-3-style: solid;
	--border-card-4-radius: var(--card-corner-4);
	--border-card-4-width: var(--border-width);
	--border-card-4-color: var(--general-color-5);
	--border-card-4-style: solid;
	--border-cards-container-radius: 32px;
	--border-cards-container-width: 0px;
	--border-cards-container-color: undefined;
	--border-cards-container-style: solid;
	}