:root {
	--button-primary: #0052ED;
	--button-secondary: #b10d00;
	--button-tertiary: #FFFFFF;
	--text-primary: #001242;
	--text-secondary: #ffffff;
	--text-tertiary: #0052ed;
	--text-light: #ffffff;
	--general-color-1: #FFFFFF;
	--general-color-2: #041142;
	--general-color-3: #0052ed;
	--general-color-4: #df0000;
	--general-color-5: #001c6c;
	--page-background-primary: #FFFFFF;
	--button-primary-hover: #0B4ECA;
	--button-secondary-hover: #920A00;
	--button-tertiary-hover: #E6E6E6;
	--text-dark: #001242;
	}
.dark {
	--button-primary: #0052ed;
	--button-secondary: #df0000;
	--button-tertiary: #dceeff;
	--text-primary: #ffffff;
	--text-secondary: #000000;
	--text-tertiary: #0052ed;
	--text-light: #ffffff;
	--general-color-1: #041142;
	--general-color-2: #ffffff;
	--general-color-3: #0052ed;
	--general-color-4: #df0000;
	--general-color-5: #001c6c;
	--page-background-primary: #000000;
	--button-primary-hover: #266DF1;
	--button-secondary-hover: #B30202;
	--button-tertiary-hover: #C6D6E6;
	--text-dark: #001242;
	}
