:root {
	--button-primary: #0741FF;
	--button-primary-hover: #0735CC;
	--button-secondary: #EE2928;
	--button-secondary-hover: #C71717;
	--button-tertiary: #FFFFFF00;
	--button-tertiary-hover: #CFCFCF;
	--text-primary: #000000;
	--text-secondary: #ffffff;
	--text-tertiary: #0741FF;
	--general-color-1: #FFFFFF;
	--general-color-2: #000000;
	--general-color-3: #0741FF;
	--general-color-4: #ED2924;
	--page-background-primary: #FFFFFF;
	--general-color-5: #CBCBCB;
	}
