:root {
	--button-primary: var(--general-color-1);
	--button-secondary: var(--general-color-2);
	--button-tertiary: var(--general-color-3);
	--text-primary: var(--general-color-1);
	--text-secondary: var(--general-color-2);
	--text-tertiary: var(--general-color-3);
	--text-light: #ffffff;
	--general-color-1: #000000;
	--general-color-2: #FFFFFF;
	--general-color-3: #55493B;
	--general-color-4: #F6F6F6;
	--general-color-5: #E4E4E4;
	--page-background-primary: #FFFFFF;
	--button-primary-hover: #0B4ECA;
	--button-secondary-hover: #920A00;
	--button-tertiary-hover: #E6E6E6;
	--text-dark: #001242;
	--general-color-6: #FBFAEA;
	--general-color-7: #438FD5;
	--text-link: var(--general-color-7);
	--general-color-8: #BDE2D2;
	--general-color-9: #FAFAFA;
	--general-color-10: #FFFFFFCC;
	--text-active: #438FD5;
	}
