:root {
	--border-image-radius-small-radius: 12px;
	--border-image-radius-small-width: 0px;
	--border-image-radius-small-color: #000000;
	--border-image-radius-small-style: solid;
	--border-button-secondary-radius: 0;
	--border-button-secondary-width: 2px;
	--border-button-secondary-color: var(--general-color-3);
	--border-button-secondary-style: solid;
	--border-button-primary-radius: 0px;
	--border-button-primary-width: 2px;
	--border-button-primary-color: var(--button-secondary);
	--border-button-primary-style: solid;
	--border-product-card-radius: 0px;
	--border-product-card-width: 1px;
	--border-product-card-color: var(--general-color-12);
	--border-product-card-style: solid;
	--border-small-article-card-radius: 0px;
	--border-small-article-card-width: 0px 0px 4px 0px;
	--border-small-article-card-color: var(--general-color-2);
	--border-small-article-card-style: solid;
	--border-personalization-card-radius: 0px;
	--border-personalization-card-width: 2px;
	--border-personalization-card-color: var(--general-color-8);
	--border-personalization-card-style: solid;
	--border-product-card-bottom-radius: 0px;
	--border-product-card-bottom-width: 0px 0px 1px;
	--border-product-card-bottom-color: var(--general-color-12);
	--border-product-card-bottom-style: solid;
	--border-footer-radius: 0px;
	--border-footer-width: 1px 0px 0px 0px;
	--border-footer-color: var(--general-color-13);
	--border-footer-style: solid;
	--border-bottom-radius: 0px;
	--border-bottom-width: 0px 0px 1px 0px;
	--border-bottom-color: var(--general-color-13);
	--border-bottom-style: solid;
	}