:root {
	--button-primary: var(--general-color-3);
	--button-secondary: var(--general-color-1);
	--button-tertiary: var(--general-color-2);
	--text-primary: var(--general-color-3);
	--text-secondary: var(--general-color-1);
	--text-tertiary: var(--general-color-2);
	--text-light: #ffffff;
	--general-color-1: #FFFFFF;
	--general-color-2: #55493B;
	--general-color-3: #000000;
	--general-color-4: #61050A;
	--general-color-5: #0a2f17;
	--page-background-primary: #FFFFFF;
	--button-primary-hover: #333333;
	--button-secondary-hover: #f3ead7;
	--button-tertiary-hover: #6a5a49;
	--text-dark: #001242;
	--general-color-6: #FBFAEA;
	--general-color-7: #438FD5;
	--text-link: var(--general-color-7);
	--general-color-8: #BDE2D2;
	--general-color-9: #FAFAFA;
	--general-color-10: #FFFFFFCC;
	--text-active: #438FD5;
	--general-color-11: #F6F6F6;
	--general-color-12: #E4E4E4;
	--general-color-13: #F7DF1E;
	--text-featured: var(--general-color-13);
	--button-featured: var(--general-color-13);
	}
