@source inline("{lg:,md:,}border-{border-image-radius-small,border-button-secondary,border-button-primary,border-product-card,border-small-article-card,border-personalization-card,border-product-card-bottom,border-footer,border-bottom}");

.border-image-radius-small {
	border-style: var(--border-image-radius-small-style);
	border-radius: var(--border-image-radius-small-radius);
	border-width: var(--border-image-radius-small-width);
	border-color: var(--border-image-radius-small-color);
}

.border-button-secondary {
	border-style: var(--border-button-secondary-style);
	border-radius: var(--border-button-secondary-radius);
	border-width: var(--border-button-secondary-width);
	border-color: var(--border-button-secondary-color);
}

.border-button-primary {
	border-style: var(--border-button-primary-style);
	border-radius: var(--border-button-primary-radius);
	border-width: var(--border-button-primary-width);
	border-color: var(--border-button-primary-color);
}

.border-product-card {
	border-style: var(--border-product-card-style);
	border-radius: var(--border-product-card-radius);
	border-width: var(--border-product-card-width);
	border-color: var(--border-product-card-color);
}

.border-small-article-card {
	border-style: var(--border-small-article-card-style);
	border-radius: var(--border-small-article-card-radius);
	border-width: var(--border-small-article-card-width);
	border-color: var(--border-small-article-card-color);
}

.border-personalization-card {
	border-style: var(--border-personalization-card-style);
	border-radius: var(--border-personalization-card-radius);
	border-width: var(--border-personalization-card-width);
	border-color: var(--border-personalization-card-color);
}

.border-product-card-bottom {
	border-style: var(--border-product-card-bottom-style);
	border-radius: var(--border-product-card-bottom-radius);
	border-width: var(--border-product-card-bottom-width);
	border-color: var(--border-product-card-bottom-color);
}

.border-footer {
	border-style: var(--border-footer-style);
	border-radius: var(--border-footer-radius);
	border-width: var(--border-footer-width);
	border-color: var(--border-footer-color);
}

.border-bottom {
	border-style: var(--border-bottom-style);
	border-radius: var(--border-bottom-radius);
	border-width: var(--border-bottom-width);
	border-color: var(--border-bottom-color);
}