@source inline("{lg:,md:,}font-{dm-sans,space-mono,default}");

@theme {
    --font-dm-sans: var(--dm-sans);
    --font-space-mono: var(--space-mono);
    --font-boldonse: var(--boldonse);
    --font-noto-serif-hentaigana: var(--noto-serif-hentaigana);
    --font-pochaevsk: var(--pochaevsk);
    --font-poppins: var(--poppins);
    --font-roboto-mono: var(--roboto-mono);
    --font-roboto: var(--roboto);
    --font-default: var(--default-font);
}